@font-face {
    font-family: bitmadness;
    src: url(../public/assets/fonts/Eight-Bit-Madness.ttf);
}

@font-face {
    font-family: pixeloperator;
    src: url(.../public/assets/fonts/PixelOperator.ttf);
}

@font-face {
    font-family: bitarcadeout;
    src: url(../public/assets/fonts/8-bitArcadeOut.ttf);
}

@font-face {
    font-family: bitarcadein;
    src: url(../public/assets/fonts/8-bitArcadeIn.ttf);
}

@font-face {
    font-family: stencilbit;
    src: url(../public/assets/fonts/Stencil8bit.otf);
}

@font-face {
    font-family: signature;
    src: url(../public/assets/fonts/Signature.otf);
}

:root {
  background:linear-gradient(to top, #630560, #3d0883, #080883, #173358, #0b0754);
}

h1{
    font-family: bitmadness;
    color: yellow;
}

p{
    font-family: bitmadness;
    color: yellow;
}

label{
    font-family: bitmadness;
    color: black;
    font-size: 1.5rem;
    letter-spacing: -1px;
    line-height: 10px;
}

button{
    font-family: bitmadness;
    font-size: 1.5rem;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    width: 100%;
    margin-top: 10px;
}

input{
    font-family: bitmadness;
    background-color: #e3d0b5;
    color:black;
    border-radius: 4px;
    width: 100%;
    padding: 3px;
    padding-left: 10px;
    font-size: 1.15rem;
	border:2px solid #5c4b32;
    margin-bottom: 3px;
}

input::placeholder {
    opacity: 0.65;
    color: black;
}

textarea{
    font-family: bitmadness;
    background-color: #e3d0b5;
    color:black;
    border-radius: 4px;
    width: 100%;
    padding: 3px;
    padding-left: 10px;
    font-size: 1.15rem;
	border:2px solid #5c4b32;
    height: 3.5em;
    line-height: 18px;
    resize: none;
}

textarea::placeholder {
    opacity: 0.65;
    color: black;
}

.App{
    height: 100vh;
    overflow: hidden;
}

.ParticleBackground{
    pointer-events: none !important;
    position: fixed;
}

.title{
    font-size: 4rem;
    position: relative;
}

.title .in{
    font-family: bitarcadein;
    position: absolute;
    color: yellow;
}

.title .out{
    font-family: bitarcadeout;
    position: absolute;
    color: black;
}

.book-form{
    width:95%;
}


.book-form .form-title{
    font-family: bitarcadein;
}

.book-form .form-step-no label{
    color: yellow;
}

.book-title{
    color: black;
    font-size: 2rem;
    background-color: #e3d0b5;
    box-shadow: inset 0 0 10px 0 rgb(36 10 3 / 30%);
}

.book-container{
    min-height: 500px;
}

.cover{
    box-shadow: inset 0 0 50px 0 rgb(36 10 3 / 50%), -2px 0 5px 2px rgb(0 0 0 / 40%);
    background-color: #906B52;
    color: #906B52;
    border: 1px solid #906B52;
    border-radius: 5px;
}

.--portrait{
    padding-bottom: 10% !important;
}

.stf__wrapper .bookForm{
    box-shadow: inset 0 0 50px 0 rgb(36 10 3 / 30%), -2px 0 5px 2px rgb(0 0 0 / 50%);
    background-color: #e3d0b5;
    color: #785e3a;
    border-radius: 5px;
}

.stf__wrapper .bookPage{
    box-shadow: inset 0 0 50px 0 rgb(36 10 3 / 50%), -2px 0 5px 2px rgb(0 0 0 / 40%);
    background-color: #e3d0b5;
    color: #785e3a;
    border: 1px solid #998466;
    border-radius: 5px;
}

.bookText{
    font-family: pixeloperator;
    color:black;
    font-size: 1.1rem;
}

.mainBook{
    position: absolute !important;
}

.invisibleBook{
    position: absolute !important;
}

.signature{
    font-family: signature;
    font-size: 3rem;
}

@media only screen and (min-width: 500px) {

    .book-form{
        width: 500px;
    }
}

@media only screen and (min-width: 768px) {

    .title{
        font-size: 6rem;
        margin-top: -5px;
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {

    .title{
        font-size: 8rem;
        margin-top: -5px;
        width: 100%;
    }
}


  